@model WebApplication5.Models.Post

@{
    ViewBag.Title = "AddPosts";
}

<h2>AddPosts</h2>

@using (Html.BeginForm("AddPosts", "Posts", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Partial("_navbareditor")
<div class="form-horizontal">
    <h4>Post</h4>
    <hr />
   
    <div class="form-group">
        @Html.LabelFor(model => model.ArticleTitle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ArticleTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ArticleTitle, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ArticleBody, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.ArticleBody, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ArticleBody, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", type = "Date" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.image, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <img src ="model => model.image" />
            @*@Html.EditorFor(model => model.image, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.ValidationMessageFor(model => model.image, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.RadioButtonFor(model => model.Type, "News")
            <label> News</label>
            <br />

            @Html.RadioButtonFor(model => model.Type, "Sports")
            @Html.Label("Sports")
            <br />
            @Html.RadioButtonFor(model => model.Type, "Fashion")
            <label> Fashion</label>
            <br />
            @Html.RadioButtonFor(model => model.Type, "Jobs")
            <label> Jobs</label>
            <br />
            @Html.RadioButtonFor(model => model.Type, "Business")
            <label> Business</label>

        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Approve, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Approve, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Approve, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="ADD" class="btn btn-default" />
        </div>
    </div>
    </div>

}
    
<div>
</div>
