@model IEnumerable<WebApplication5.Models.Post>

@{
    ViewBag.Title = "ViewerLayout";
}

<div class="container">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Viewer Layout", "", "", new { area = "" }, new { @class = "navbar-brand" })
            </div>


            <div style="display:flex;">
                <input type="text" , id="Search" placeholder="Search by Title,type" class="form-control" />
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                 
                    <li>@Html.ActionLink("SavedPosts", "", "")</li>
                    <li>@Html.ActionLink("Logout", "Index", "0", new { @class = "glyphicon glyphicon-log-out" })</li>
                </ul>
            </div>

        </div>
    </div>
</div>
<br />
<h2>
    ALL Posts

</h2>
<table class="table">
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.ArticleTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleBody)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Viewers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Likes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dislikes)
        </th>


        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArticleBody)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Viewers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dislikes)
            </td>
            <td>
                <span class="glyphicon glyphicon-thumbs-up"></span>
                @Html.ActionLink("Like", "likes", new { id = item.post_id })|
                <span class="glyphicon glyphicon-thumbs-down"></span>
                | @Html.ActionLink("Dislike", "", new { id = item.post_id })||
                @Html.ActionLink("Comment", "comment", new { id = item.post_id })||
                <span class="glyphicon glyphicon-star-empty"></span>
                @Html.ActionLink("save", "save", new { id = item.post_id, @class = "glyphicon glyphicon-star" })||
                @Html.ActionLink("View", "Details", new { id = item.post_id })
            </td>

        </tr>

    }

</table>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $("#Search").on("keyup", function () {
        var textSearch = $(this).val();
        $("table tr").each(function (results) {
            if (results != 0)
            {
                var Type = $(this).find("td:nth-child(2)").text();

                var ArticleTitle = $(this).find("td:nth-child(1)").text();
                if (Type.indexOf(textSearch) !== 0 && Type.toLowerCase().indexOf(textSearch.toLowerCase()) < 0

                    && ArticleTitle.indexOf(textSearch) !== 0 && ArticleTitle.toLowerCase().indexOf(textSearch.toLowerCase()) < 0) {
                    $(this).hide();
                }
                else
                {
                    $(this).show();
                }


            }
        });
    });



</script>



